@import-normalize;

html,
body {
  overscroll-behavior-y: none;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

h1 {
  margin: 0;
  padding: 0;
}
