@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Raleway:wght@400;500&display=swap');

html,
body {
  overscroll-behavior-y: none;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

h1 {
  margin: 0;
  padding: 0;
}
